# See http://help.github.com/ignore-files/ for more about ignoring files.

# pycache
/__pycache__/*
cs32510.client.txt
cs32511.client.txt
cs32512.client.txt
cs32513.client.txt
cs32514.client.txt
cxworks.client.txt
network.client.txt
network0.client.txt
network1.client.txt
network2.client.txt
network3.client.txt
receiver.client.txt
sender.client.txt

